<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="../view/control/log_control.php" method="POST">
      <legend>LOG-IN</legend>
      <fieldset>
        <table>
          <tr>
            <td>Enter your name</td>
            <td>:</td>
            <td>
              <input type="text" name="name" />
            </td>
          </tr>

          <tr>
            <td>Enter your password</td>

            <td>:</td>

            <td>
              <input type="text" name="pass" />
            </td>
          </tr>

          <tr>
            <td>
              <input type="submit" name="submit" />
            </td>

            <td><input type="reset" name="reset" /></td>
          </tr>
        </table>
      </fieldset>
      <tr>
        <td><h3>Don't have any account?</h3></td>
        <td> <a href="../view/ui_customer_registration.html" target="_self"> Wanna Go to Registration!</a></td>
    </tr>
    </form>
  </body>
</html>

